{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="min-h-screen flex justify-center items-center bg-gray-900">
    <section class="w-5/12 md:w-full border-2 border-dashed p-5 text-center">
      <div class="flex justify-center">
        <img
          class="w-20 h-10 text-center"
          src="{% static 'images/nexis_logo.svg' %}"
          alt=""
        />
      </div>
      <div class="w-full border-2 border-red-500 bg-gray-100">
        <img class="w-full object-cover" src="{% url 'livecam_feed' %}" />
      </div>
      <button
        id="open"
        class="bg-blue-400 text-center w-44 md:w-36 rounded-lg h-10 font-bold text-xl mt-2"
      >
        Open
      </button>

      <h5 class="text-white text-md my-2">
        <i class="fa-solid fa-door-open text-md"></i> The door is close please
        open
      </h5>
      <h5 id="close" class="text-white text-md my-2"></h5>
      <span id="timer" class="text-white"></span>
    </section>
    <!-- script -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="{% static 'Js/app.js' %}"></script>
  </body>
</html>
